body {
    background-color: #d4d4d4;
}

.wrapper {
    max-width: 60%;
    margin: 20px auto 0 auto;
}

.center {
    text-align: center;
}

.white-bg {
    background-color: #ffffff;
}

.required {
    color: #ff0000;
    font-weight: 500;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

.asterisk {
    color: #ff0000;
}

.card-header {
    border-top: 4px solid #0b5ed7;
    margin-bottom: 1rem;
}

.card-title {
    font-size: 2rem;
}

.submit-btn {
    margin-top: 1rem;
    float: right;
}

.form-check {
    margin-bottom: 0.5rem;
}

input.form-control {
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0px;
}

.input-group input.form-control {
    padding: 0 0.75rem;
}